body  {

	background-image: url('Hawaii.jpg');
	background-size: cover;
	background-repeat: none;
	height: 100%;
	font-family: 'Varela Round', sans-serif;
}

body h2 h4 {

	font-weight: bolder;
}

.jumbotron {

	background-color: #ffffe0;
}
